{% extends "layout.html.twig" %}

{% set active = 'home' %}
{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="card">
            <div class="header bg-red">
                <h2>
                   Sutekina Box <small>Votre box vraiment trop Kawai !</small>
                </h2>
                <ul class="header-dropdown m-r-0">
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons">info_outline</i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="material-icons">help_outline</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h3 class="text-center">
                    Des envies gourmandes? On à ce qu'il faut pour vous ! :D
                </h3>

                <p class="text-center">Sans hésitez venez donc découvrir chaque mois une nouvelle box pour vous éveiller les sens ! </p>
                <p class="text-center">Nous offrons des boxs trop mignone sur divers thème : Bouffe, Gaming, Création</p>
                <img style="margin-left: auto;
                    margin-right: auto;
                    display: block;"
                     src="{{ asset('images/Kawaii-Box-April-2016-Contents.jpg') }}" alt="Box ultra kawai">
            </div>
        </div>
    </section>

{% endblock %}

{% block final_javascripts %}
{% endblock %}