{% extends "layout.html.twig" %}

{% set active = 'home' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block content %}
<h2>coucou
</h2>

{% endblock %}

{% block final_javascripts %}
{% endblock %}